{
  "openapi": "3.0.1",
  "info": {
    "title": "Entrust Identity as a Service Issuance API",
    "description": "The Instant ID as a Service Issuance API provides functionality that allows a customer to manage printers and to use\nthose printers to print cards, encode magstrips on cards and encode chips on cards. The Issuance API is available as\nboth a swagger file which is available as a link from this document and also as SDKs that can be downloaded from the\nGetting Started section of the developer portal which is accessed from the Instant ID as a Service Admin portal.\n\nBefore using the Instant ID as a Service Issuance API, the customer must create an Issuance API application using the\nadmin portal of their Instant ID as a Service Issuance account. When creating an Issuance API application the customer\nmust specify a role that controls what capabilities their application can perform. The two default roles provided in\nInstant ID as a Service Issuance are:\n\n- Issuance Administrator - allows the application to both manage printers and perform print operations\n- Issuance Operator - allows the application to perform print operations\n\nWhen the Issuance API application is created, credentials are provided that consist of:\n\n- the Instant ID as a Service Account URL\n- the Application Id\n- the Application Shared Secret\n\nThese values should be downloaded from Instant ID as a Service. They are required input to a client application using\nthe Instant ID as a Service API application.\n\nThe first step all Issuance API client applications must do is to authenticate to Instant ID as a Service. This is done\nby calling the \"Admin API Authentication\" operation. The application Id and shared secret values that were downloaded\nfrom Instant ID as a Service are provided as input parameters to this method. The method returns an authToken which is\nprovided as input to all of the other operations.\n\nThe Issuance API provides the following operations to manage printers:\n\n- createPrinter - register a printer. Required arguments are a unique name and the printer deviceId. The new printer is\n  assigned a unique UUID which is used to reference the printer in all other operations.\n- readPrinter - return information about the printer.\n- readPrinters - return information about all of the printers for this Instant ID as a Service account.\n- deletePrinter - delete the specified printer.\n- replacePrinter - modify the specified printer.\n- getPrintersSummary - get a count of the number of printers in the current Instant ID as a Service account.\n- readPrinterPreference - get printer preferences for the specified printer.\n- replacePrinterPreference - update printer preferences for the specified printer.\n\nThe Issuance API provides the following print operations:\n\n- print - submit a print job to the specified printer. The print job can include images to be printed on the printer,\n  information to be encoded on a magstrip or APDUs to be written to the chip on the card. The print operation returns a\n  unique UUID for the new print job.\n- getPrintStatus - return the status of the specified print job.\n- cancelPrint - cancel the specified print job\n- updatePrint - for smart card encoding, send additional APDUs to the card.\n\nRefer to the rest of this document for more details on the operations provided by the Issuance API.",
    "contact": {
      "name": "Entrust Identity as a Service",
      "url": "https://www.entrust.com/",
      "email": "support@entrust.com"
    },
    "version": "5.43"
  },
  "servers": [
    {
      "url": "https://customer.region.trustedauth.com"
    }
  ],
  "tags": [
    {
      "name": "Admin Auth",
      "description": "Administration authentication controllers"
    },
    {
      "name": "Printers",
      "description": "Printer controllers"
    },
    {
      "name": "PrintQueue",
      "description": "Print Queue controllers"
    },
    {
      "name": "BasicPrint",
      "description": "Issuance controllers"
    },
    {
      "name": "Tenants",
      "description": "Tenant controllers"
    },
    {
      "name": "Applications",
      "description": "Application controllers"
    },
    {
      "name": "Roles",
      "description": "Role controllers"
    },
    {
      "name": "EnrollmentOperations",
      "description": "Enrollment controllers"
    },
    {
      "name": "PrintAPI",
      "description": "Print enrollments"
    },
    {
      "name": "MobileFlashPassAPI",
      "description": "Issue Mobile Flash Pass"
    },
    {
      "name": "Webhooks",
      "description": "Webhook Controllers"
    }
  ],
  "paths": {
    "/api/web/v1/adminapi/authenticate": {
      "post": {
        "tags": [
          "Admin Auth"
        ],
        "summary": "Authenticate to an Admin API application.",
        "operationId": "authenticateAdminApiUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminApiAuthentication"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiAuthenticationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/web/v1/applicationinfo": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List application information",
        "description": "List application information. Caller requires the APPLICATIONS:VIEW permission.",
        "operationId": "listApplicationInfoUsingGET",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/applications/adminapi": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List Admin API application",
        "description": "List Admin API application. Caller requires the APPLICATIONS:VIEW permission.",
        "operationId": "listAdminApiApplicationsUsingGET",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminApiApplication"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:VIEW"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create Admin API application",
        "description": "Create an Admin API application. Caller requires the APPLICATIONS:ADD permission.",
        "operationId": "createAdminApiApplicationUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminApiApplicationParms"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiApplication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/applications/adminapi/regenerate/{id}": {
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Regenerate Admin API application shared secret",
        "description": "Regenerate the shared secret for an Admin API application. Caller requires the APPLICATIONS:EDIT permission.",
        "operationId": "updateAdminApiSharedSecretUsingPUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The UUID of the application to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:EDIT"
            ]
          }
        ]
      }
    },
    "/api/web/v1/applications/adminapi/{id}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get Admin API application",
        "description": "Get an Admin API application. Caller requires the APPLICATIONS:VIEW permission.",
        "operationId": "getAdminApiApplicationUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The UUID of the application to be fetched.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiApplication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:VIEW"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Update Admin API application",
        "description": "Update an Admin API application. Caller requires the APPLICATIONS:EDIT permission.",
        "operationId": "updateAdminApiApplicationUsingPUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The UUID of the application to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminApiApplicationParms"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApiApplication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:EDIT"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Remove Admin API application",
        "description": "Remove an Admin API application. Caller requires the APPLICATIONS:REMOVE permission.",
        "operationId": "removeAdminApiApplicationUsingDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The UUID of the application to be removed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "APPLICATIONS:REMOVE"
            ]
          }
        ]
      }
    },
    "/api/web/v1/applications/templates": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List application templates",
        "description": "List application templates. Caller requires the TEMPLATES:VIEW permission.",
        "operationId": "listApplicationTemplatesUsingGET",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "TEMPLATES:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/enrollment/api": {
      "put": {
        "tags": [
          "EnrollmentOperations"
        ],
        "summary": "Update enrollment records. Caller requires the ENROLLMENTS:EDIT permission.",
        "operationId": "updateEnrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentApiPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ENROLLMENTS:EDIT"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "EnrollmentOperations"
        ],
        "summary": "Create enrollment records. Caller requires the ENROLLMENTS:ADD permission.",
        "operationId": "createEnrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentApiPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentApiPayload"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentApiPayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ENROLLMENTS:ADD"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "EnrollmentOperations"
        ],
        "summary": "Delete enrollment records. Caller requires the ENROLLMENTS:REMOVE permission.",
        "operationId": "deleteEnrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentApiPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ENROLLMENTS:REMOVE"
            ]
          }
        ]
      }
    },
    "/api/web/v1/enrollment/api/readEnrollments": {
      "post": {
        "tags": [
          "EnrollmentOperations"
        ],
        "summary": "Read enrollment records. Caller requires the ENROLLMENTS:VIEW permission.",
        "operationId": "readEnrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadEnrollmentApiPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentApiPayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ENROLLMENTS:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass": {
      "get": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Get all issued bulk mobile flash pass request(s)",
        "description": "Get all issued bulk mobile flash pass request(s). Caller requires the issuance view permission to access this resource.",
        "operationId": "getIssueMFPBulkOperationDetails",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IssueMobileFlashPassBulkOperationDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Create bulk mobile flash pass request (Deprecated)",
        "description": "Create bulk mobile flash pass request. Caller requires the issuance add permission to access this resource.",
        "operationId": "issueMobileFlashPassBulkOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentMultiFlashPassApiRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueMobileFlashPassBulkOperationDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass/cancel/{id}": {
      "delete": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Cancel mobile flash pass bulk operation",
        "description": "Cancel mobile flash pass bulk operation. Caller requires the issuance remove permission to access this resource.",
        "operationId": "cancelMobileFlashPassBulkOperation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bulk operation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:REMOVE"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass/download/logs/{id}": {
      "get": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Download mobile flash pass bulk operation logs",
        "description": "Download logs for mobile flash pass bulk operation. Caller requires the issuance view permission to access this resource.",
        "operationId": "downloadMFPBulkOperationLogs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bulk operation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass/downloadUri/{walletType}/{enrollmentId}": {
      "get": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Get mobile flash pass download URI",
        "description": "Retrieves the Mobile Flash Pass download URI for the specified wallet and enrollment. Caller requires the ISSUANCE:VIEW permission to access this resource.",
        "operationId": "getFlashPassDownloadURI",
        "parameters": [
          {
            "name": "walletType",
            "in": "path",
            "description": "The wallet to retrieve the download URI for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "google | apple"
          },
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "The unique enrollment ID obtained from Read Enrollments request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJ3b3JrZmxvd0lkIjoiZDkyZmU1OTgtYmU5MC00N2QzLWJmNWEtZmM2MDJmZjNkOGY0Iiwid2hlcmVDbGF1c2UiOnsiQVVUT1NFUVVFTkNFRklFTEQxIjoiMiJ9fQ=="
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass/downloads/apple/{enrollmentId}/{claimToken}": {
      "get": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Download Apple Wallet mobile flash pass.",
        "description": "Downloads a single Apple Wallet mobile flash pass. Caller requires the ISSUANCE:VIEW permission to access this resource.",
        "operationId": "downloadAppleMobileFlashPass",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "The unique enrollment ID obtained from Read Enrollments request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJ3b3JrZmxvd0lkIjoiZDkyZmU1OTgtYmU5MC00N2QzLWJmNWEtZmM2MDJmZjNkOGY0Iiwid2hlcmVDbGF1c2UiOnsiQVVUT1NFUVVFTkNFRklFTEQxIjoiMiJ9fQ=="
          },
          {
            "name": "claimToken",
            "in": "path",
            "description": "The Apple Wallet random claim token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.apple.pkpass": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass/downloads/google/{enrollmentId}/{claimToken}": {
      "get": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Download Google Wallet mobile flash pass.",
        "description": "Returns a single Google Wallet mobile flash pass URL for download. Caller requires the ISSUANCE:VIEW permission to access this resource.",
        "operationId": "downloadGoogleMobileFlashPass",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "The unique enrollment ID obtained from Read Enrollments request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJ3b3JrZmxvd0lkIjoiZDkyZmU1OTgtYmU5MC00N2QzLWJmNWEtZmM2MDJmZjNkOGY0Iiwid2hlcmVDbGF1c2UiOnsiQVVUT1NFUVVFTkNFRklFTEQxIjoiMiJ9fQ=="
          },
          {
            "name": "claimToken",
            "in": "path",
            "description": "The Google Wallet random claim token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/mobileFlashPass/{id}": {
      "get": {
        "tags": [
          "MobileFlashPassAPI"
        ],
        "summary": "Get mobile flash pass request details",
        "description": "Get mobile flash pass request details. Caller requires the issuance view permission to access this resource.",
        "operationId": "getMobileFlashPassRequestDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mobile flash pass request id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileFlashPassRequestDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/print": {
      "get": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Get all bulk print enrollments request(s)",
        "description": "Get all print enrollments request(s). Caller requires the issuance view permission to access this resource.",
        "operationId": "getPrintEnrollmentsBulkOperationDetails",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkPrintOperationDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Create bulk print enrollment request",
        "description": "Create bulk print enrollment request. Caller requires the issuance add permission to access this resource.",
        "operationId": "printEnrollmentsBulkOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentMultiPrintApiRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkPrintOperationDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/print/cancel/{id}": {
      "delete": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Cancel print enrollments bulk operation",
        "description": "Cancel print enrollments bulk operation. Caller requires the issuance remove permission to access this resource.",
        "operationId": "cancelPrintEnrollmentsBulkOperation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bulk operation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:REMOVE"
            ]
          }
        ]
      }
    },
    "/api/web/v1/print/download/logs/{id}": {
      "get": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Download print enrollments bulk operation logs",
        "description": "Download logs for print enrollments bulk operation. Caller requires the issuance view permission to access this resource.",
        "operationId": "downloadPrintEnrollmentsBulkOperationLogs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bulk operation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/print/resume": {
      "post": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Resume a print job after pre print operation",
        "description": "Resume printing for a print job after pre print operation. Caller requires the ISSUANCE:ADD permission to access this resource.",
        "operationId": "resumePrintJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumePrintJobApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumePrintJobApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/print/single": {
      "post": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Print single enrollment",
        "description": "Prints a single enrollment by Design Name or Enrollment ID. Caller requires the ISSUANCE:ADD permission to access this resource.",
        "operationId": "singleEnrollmentPrint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentPrintApiRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentPrintApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/print/{id}": {
      "get": {
        "tags": [
          "PrintAPI"
        ],
        "summary": "Get print request details",
        "description": "Get print request details. Caller requires the issuance view permission to access this resource.",
        "operationId": "getPrintRequestDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The print request id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintRequestDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printcounts": {
      "get": {
        "tags": [
          "BasicPrint"
        ],
        "summary": "Get counts for different prints.",
        "operationId": "getPrintCounts",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "REPORTS:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers": {
      "get": {
        "tags": [
          "Printers"
        ],
        "summary": "Gets all printers.",
        "operationId": "readPrinters",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The model properties to return.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withStatus",
            "in": "query",
            "description": "Indicates if the current status of each printer is retrieved. Defaults to false if not specified.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:VIEW"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Printers"
        ],
        "summary": "Creates a printer.",
        "operationId": "createPrinter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Printer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict, printer already exists with the given Name or Device ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers/print/{printStatusId}": {
      "get": {
        "tags": [
          "BasicPrint"
        ],
        "summary": "Retrieve print job status.",
        "operationId": "getPrintStatus",
        "parameters": [
          {
            "name": "printStatusId",
            "in": "path",
            "description": "Print ID",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicPrintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "BasicPrint"
        ],
        "summary": "Cancel an executing print job.",
        "operationId": "cancelPrint",
        "parameters": [
          {
            "name": "printStatusId",
            "in": "path",
            "description": "Print ID",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:REMOVE"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "BasicPrint"
        ],
        "summary": "Updates an executing print job.",
        "operationId": "updatePrint",
        "parameters": [
          {
            "name": "printStatusId",
            "in": "path",
            "description": "Print ID",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicPrintUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:EDIT"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers/summary": {
      "get": {
        "tags": [
          "Printers"
        ],
        "summary": "Retrieve count of registered printers",
        "operationId": "printersSummary",
        "responses": {
          "200": {
            "description": "Successfully retreived printer summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "REPORTS:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers/{printerId}": {
      "get": {
        "tags": [
          "Printers"
        ],
        "summary": "Return a specified printer.",
        "operationId": "readPrinter",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "The unique 32-36 character id obtained from the Get All Printers request. Example - 0b0db90a-6091-416f-8559-2f2181e941c3",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Printer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:VIEW"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Printers"
        ],
        "summary": "Update the specified printer.",
        "operationId": "replacePrinter",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "The unique 32-36 character id obtained from the Get All Printers request. Example - 0b0db90a-6091-416f-8559-2f2181e941c3",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Printer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:EDIT"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Printers"
        ],
        "summary": "Deletes a printer by ID.",
        "operationId": "deletePrinter",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "The unique 32-36 character id obtained from the Get All Printers request. Example - 0b0db90a-6091-416f-8559-2f2181e941c3",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:REMOVE"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers/{printerId}/preferences": {
      "get": {
        "tags": [
          "Printers"
        ],
        "summary": "Get the preferences for the specified printer.",
        "operationId": "readPrinterPreferences",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "The unique 32-36 character id obtained from the Get All Printers request. Example - 0b0db90a-6091-416f-8559-2f2181e941c3",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterPreferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:VIEW"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Printers"
        ],
        "summary": "Update the preferences for the specified printer.",
        "operationId": "replacePrinterPreferences",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "The unique 32-36 character id obtained from the Get All Printers request. Example - 0b0db90a-6091-416f-8559-2f2181e941c3",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrinterPreferences"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:EDIT"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers/{printerId}/print": {
      "post": {
        "tags": [
          "BasicPrint"
        ],
        "summary": "Perform basic print job.",
        "operationId": "print",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "The unique 32-36 character id obtained from the Get All Printers request. Example - 0b0db90a-6091-416f-8559-2f2181e941c3",
            "required": true,
            "schema": {
              "pattern": "[a-fA-F0-9-]{32,36}",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicPrintRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:ADD"
            ]
          }
        ]
      }
    },
    "/api/web/v1/printers/{printerId}/{tenantId}": {
      "delete": {
        "tags": [
          "Printers"
        ],
        "summary": "Deletes a lost printer by printer id and lost tenant ID.",
        "operationId": "deletePrinterWithTenantId",
        "parameters": [
          {
            "name": "printerId",
            "in": "path",
            "description": "Printer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "path",
            "description": "Printer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "PRINTERS:REMOVE"
            ]
          }
        ]
      }
    },
    "/api/web/v1/prints": {
      "get": {
        "tags": [
          "PrintQueue"
        ],
        "summary": "List all print jobs.",
        "operationId": "getPrintJobs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrintJob"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/prints/paginated": {
      "post": {
        "tags": [
          "PrintQueue"
        ],
        "summary": "View print jobs in paginated form.",
        "operationId": "getPaginatedPrintJobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParms"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintQueuePaging"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AdminAPIAuthentication": [
              "ISSUANCE:VIEW"
            ]
          }
        ]
      }
    },
    "/api/web/v1/prints/{printJobId}": {
      "get": {
        "tags": [
          "PrintQueue"
        ],
[...]
