{{>licenseInfo}}
import * as globalImportUrl from 'node:url';
import { ConfigurationParameters } from './configuration';
import { AxiosPromise, AxiosInstance } from 'axios';
import { BASE_PATH, RequestArgs, BaseAPI, RequiredError } from './base';

{{! Generates the TypeScript model definitions }}
{{#models}}
{{#model}}{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{#oneOf}}{{#-first}}{{>modelOneOf}}{{/-first}}{{/oneOf}}{{^isEnum}}{{^oneOf}}{{>modelGeneric}}{{/oneOf}}{{/isEnum}}{{/model}}
{{/models}}

export class API extends BaseAPI {

  public setApiKey = (apiKey: string) => {
    this.configuration.apiKey = apiKey
  }

{{#apiInfo}}{{#apis}}
{{>apiInner}}
{{/apis}}{{/apiInfo}}
}

export default API;
