{{>licenseInfo}}
import { ConfigurationParameters } from "./configuration";
import Axios, { AxiosInstance } from "axios";

export const BASE_PATH = "{{{basePath}}}".replace(/\/+$/, "");

/**
 *
 * @export
 * @interface RequestArgs
 */
export interface RequestArgs {
    url: string;
    options: any;
}

/**
 *
 * @export
 * @class BaseAPI
 */
export class BaseAPI {
    protected configuration: ConfigurationParameters;
    protected axios: AxiosInstance;

    constructor(configuration: ConfigurationParameters) {
        this.configuration = configuration;
        this.axios = Axios.create({ baseURL: this.configuration.basePath })
    }
};

/**
 *
 * @export
 * @class RequiredError
 * @extends {Error}
 */
export class RequiredError extends Error {
    name: "RequiredError" = "RequiredError";
    constructor(public field: string, msg?: string) {
        super(msg);
    }
}
