{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "JavaScript client for {{npmName}}",
  "author": "Andrew MacCuaig <andrewmaccuaig@gmail.com>",
  "homepage": "https://www.npmjs.com/package/{{npmName}}/v/{{npmVersion}}",
  "repository": "https://github.com/maccuaa/intellitrust-sdk",
  "keywords": [
    "axios",
    "typescript",
    "openapi-client",
    "authentication",
    "intellitrust",
    "{{npmName}}"
  ],
  "license": "ISC",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts": {
    "build": "tsc --outDir dist/",
    "prepublishOnly": "npm run build"
  },
  "dependencies": {
    "axios": "0.19.2"
  },
  "devDependencies": {
    "@types/node": "13.11.1",
    "typescript": "3.8.3"
  }
}
