## {{npmName}}@{{npmVersion}}

This is a JavaScript client for the Entrust Identity as a Service {{sdkType}} API. This module can be used in the following environments:

- Node.js
- Browser

It can be used in both TypeScript and JavaScript projects.

### Installation

```bash
npm install {{npmName}} --save
```

### Usage

**NOTE:** Make sure to replace the configuration values in the examples with the values from your Identity as a Service account!

```javascript
import { API } from "{{npmName}}";

EXAMPLE-REPLACE-ME
```

### Help

For more information on how to use the APIs please refer to the Identity as a Service [API documentation](https://entrust.us.trustedauth.com/help/developer).