name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "lts/*"
      - run: bun install --frozen-lockfile
      - run: bun run build
      - name: Publish to NPM
        run: |
          for pkg in admin-sdk auth-sdk issuance-sdk; do
            cd ./packages/$pkg
            bun pm pack --quiet
            npm publish --provenance --access public *.tgz
            cd ../..
          done
