name: Publish Packages to npmjs
on:
  push:
    tags:
      - "*"
jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"

      - run: bun i --frozen-lockfile
      - run: bun run cd:build
      - run: bun run ./bin/publish.ts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
